.nav-tab {
  --color-tab-primary: var(--color-bg-secondary);
  --color-tab-primary-hover: #dcdcdc;
  --color-tab-primary-active: #bdbdbd;
  --color-tab-selected: #0078ee;
  --color-tab-selected-hover: #0066cc;
  --color-tab-selected-active: #0056b3;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.625rem;
  padding: 1.5rem;
  background-color: var(--color-tab-primary);
  color: var(--color-text-dark);
  transition: background-color 0.2s ease;
  line-height: 1.23;

  &:hover {
    background-color: var(--color-tab-primary-hover);
  }

  &:active {
    background-color: var(--color-tab-primary-active);
  }

  &_active {
    background-color: var(--color-primary);
    color: var(--color-text-light);

    .nav-tab__arrow {
      background-image: url('/icons/svg/arrow-primary.svg');
      background-color: var(--color-tab-primary);
    }

    &:hover {
      background-color: var(--color-tab-selected-hover);
    }

    &:active {
      background-color: var(--color-tab-selected-active);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &__arrow {
    background-image: url('/icons/svg/arrow-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 27px;
    height: 27px;
    border-radius: 4px;
    background-color: var(--color-tab-selected);

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__heading {
    font-size: 1.5rem;
    font-weight: 500;

    @media (max-width: 768px) {
      font-size: 1.25rem;
    }
  }

  &__text {
    max-width: 35.625rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;

    @media (max-width: 768px) {
      font-size: 0.75rem;
    }
  }

  @media (max-width: 768px) {
    gap: 1.875rem;
    padding: 1.25rem;
  }
}
