@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap');

  @font-face {
    font-family: 'Cera Pro';
    src:
      url('/fonts/cera-pro/CeraPro-Regular.ttf') format('truetype'),
      url('/fonts/cera-pro/CeraPro-Regular.woff') format('woff'),
      url('/fonts/cera-pro/CeraPro-Regular.eot') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Cera Pro';
    src:
      url('/fonts/cera-pro/CeraPro-Medium.ttf') format('truetype'),
      url('/fonts/cera-pro/CeraPro-Medium.woff') format('woff'),
      url('/fonts/cera-pro/CeraPro-Medium.eot') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
  }
}
