@layer reset, base, components, theme, utils;

@import '../styles/reset';
@import '../styles/fonts';
@import '../styles/theme';
@import '../styles/scroll';

@layer base {
  .container {
    position: absolute;
    inset-inline: 0;
    top: 50%;
    display: flex;
    max-height: 460px;
    padding-inline: clamp(1.25rem, 4vw, 3.75rem);
    gap: 2.8rem;
    transform: translateY(-50%);

    &__sidebar,
    &__main {
      flex: 1 0 21rem;
    }

    &__nav-tab-list {
      height: 100%;
    }

    @media (max-width: 768px) {
      position: static;
      flex-direction: column;
      max-height: none;
      padding-block: 4rem;
      gap: 1.875rem;
      transform: translateY(0);

      &__main {
        max-height: 392px;
      }
    }
  }
}

@layer components {
  .ordered-list,
  .unordered-list {
    list-style-position: inside;
  }

  .ordered-list {
    list-style: decimal;
  }

  .unordered-list {
    list-style: disc;
  }
}
