.input-wrapper {
  background-color: var(--color-bg);
  border: none;
  border-radius: 10px;
  font-family: 'Manrope', sans-serif;
  font-size: 0.875rem;
  outline: 1px solid transparent;
  overflow: hidden;
  position: relative;
  transition: outline 0.2s;

  &:has(.input:focus) {
    outline: none;
  }

  &:hover {
    outline-color: var(--color-primary);
  }
}

.input {
  background: none;
  border: none;
  line-height: 1.4;
  padding-block: 0.75rem;
  padding-inline: 1rem;
  width: 100%;

  &:is(:focus, :not([value=''])) {
    outline: none;
    transform: translateY(15%);
  }

  &::placeholder {
    opacity: 0;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color-bg) inset !important;
    -webkit-text-fill-color: var(--color-text-dark) !important;
  }

  &:is(:focus, :not(:placeholder-shown)) ~ .placeholder {
    top: 0.1rem;
    transform: translateY(0);
  }
}

.placeholder {
  color: var(--color-text-transparent);
  left: 1rem;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 0.2s;
  transition-property: top, transform;
  user-select: none;
}
